body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  color: #080808;
  background-color: #21cc0a;
}

.go-back-btn {
  background: none;
  border: none;
  font-size: 18px;
  color: #008000;
  cursor: pointer;
  margin-bottom: 20px;
}

.about-container {
  max-width: 750px;
  margin: 0 auto;
  background: none;
  padding: 10px 20px;
  line-height: 1.7;
}

.about-container h1 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #222;
}
