body {
  margin: 0;
  background-color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  background-color: #111;
  border: 2px solid #0f0;
  border-radius: 12px;
  padding: 30px 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 20px #0f0;
}

.register-container h1 {
  margin: 0;
  font-size: 2rem;
  color: #0f0;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 25px;
  color: #5f5;
}

input {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

.register-btn,
.google-btn {
  width: 80%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn {
  background-color: rgb(11, 128, 11);
  color: #000;
}

.google-btn {
  background-color: #fff;
  color: #000;
}

.register-btn:hover {
  background-color: #0c0;
}

.terms-text {
  font-size: 0.85rem;
  margin-top: 15px;
  color: #aaa;
}

.terms-text a {
  color: #0f0;
  text-decoration: underline;
}

.login-link {
  font-size: 0.9rem;
  margin-top: 15px;
  color: #999;
}

.login-link a {
  color: #0f0;
  text-decoration: underline;
}
.anonymous-link {
  text-align: center;
  margin-top: 20px;
}

.anonymous-link a {
  color: #00ff88;
  text-decoration: underline;
  font-weight: bold;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.anonymous-link a:hover {
  color: #06fc0a;
}
.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-image {
  width: 120px;
  height: auto;
  border-radius: 100px; /* Optional: round the corners */
  box-shadow: 0 0 15px #15ff00; /* Optional: glow effect */
}
